body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.taskList{
  list-style: none;
  padding: 0;
  width: 960px;
  margin: 0 auto;
  padding: 10px;
  background-color: #ffa;
}

.taskList__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #aaa;
  background-color: #fff;
}

.taskList__itemName{
  display: inline-block;
  width: 200px;
}

.button{
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin: 0 5px;
}

.button.isEdit{
  background: #afa;
}

.button.isDelete{
  background: #faa;
}